In [2]:
import plotly.express as px

##### line plot

line plot - single line

In [3]:
stocks = px.data.stocks()
stocks.head()

         date      GOOG      AAPL      AMZN        FB      NFLX      MSFT
0  2018-01-01  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1  2018-01-08  1.018172  1.011943  1.061881  0.959968  1.053526  1.015988
2  2018-01-15  1.032008  1.019771  1.053240  0.970243  1.049860  1.020524
3  2018-01-22  1.066783  0.980057  1.140676  1.016858  1.307681  1.066561
4  2018-01-29  1.008773  0.917143  1.163374  1.018357  1.273537  1.040708

line plot - multiple lines

line plot - multiple lines and pandas eshape (a data cleaning technique)

pie chart

In [5]:
import pandas as pd

In [7]:
data = {
    "Month": ["Jan", "Feb", "Mar", "Apr", "May", "Jun"],
    "Electronics": [5000, 7000, 8000, 6000, 7500, 9000],
    "Clothing": [4000, 4500, 5000, 5200, 4800, 5100],
    "Furniture": [3000, 3500, 4000, 3700, 3900, 4200],
    "Grocery": [7000, 7500, 7200, 7800, 8000, 8500]
}
 
# Convert to DataFrame
df = pd.DataFrame(data)
 
# Reshape data from wide to long format
df_long = df.melt(id_vars=["Month"], var_name="Category", value_name="Revenue")